.home {
  background-color: #e9abab;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
}
.home h1 {
  margin: 0;
  font-size: 2rem;
}
