/* TodoForm.css */

form {
  width: 450px;            /* set a fixed width */
  margin: 30px auto;       /* center horizontally with some top margin */
  padding: 30px;           /* space inside the box */
  border: 2px solid #84a6ca;  /* blue border */
  border-radius: 10px;     /* rounded corners */
  box-shadow: 0 4px 8px rgba(107, 112, 64, 0.1); /* subtle shadow */
  background-color: #f8fdde; /* light background */
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1px; /* spacing between input and button */
}

input {
  padding: 10px;
  font-size: 16px;
  background-color: #e0ccac;
  border: 1px solid #bb9965;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #3b80d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cecdcd;
  cursor: not-allowed;
  color: black;
}
