form {
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
  padding: 15px;
  background-color: #f2b2b2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgb(220, 238, 147);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 10px;
  background-color: #5b8db8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover:not(:disabled) {
  background-color: #3a6d98;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
